<div class="min-h-screen bg-[#4c5d67] px-4 py-10">
  <div class="mx-auto max-w-md rounded-3xl bg-white p-8 mt-20 shadow-2xl ">
    <div class="mb-8 text-center">
      <span class="inline-flex rounded-full bg-orange-100 px-3 py-1 text-xs font-semibold text-[#ed7947]">
        Open Finance
      </span>

      <h1 class="mt-4 text-3xl font-bold text-gray-900">
        Conectar conta bancária
      </h1>

      <p class="mt-2 text-sm text-gray-600">
        Conecte sua conta via Pluggy para visualizar saldo, contas e transações no sistema.
      </p>
    </div>


    <button
      type="button"
      (click)="conectarConta()"
      [disabled]="carregando()"
      class="mt-6 w-full rounded-lg bg-[#ed7947] px-5 py-3 text-sm font-semibold text-white transition hover:brightness-95 disabled:cursor-not-allowed disabled:opacity-60"
    >
      {{ carregando() ? 'Abrindo conexão...' : 'Conectar com Pluggy' }}
    </button>

    @if (erro()) {
      <div class="mt-5 rounded-lg border border-red-200 bg-red-50 px-4 py-3 text-sm text-red-600">
        {{ erro() }}
      </div>
    }

    @if (sucesso()) {
      <div class="mt-5 rounded-lg border border-green-200 bg-green-50 px-4 py-3 text-sm text-green-700">
        {{ sucesso() }}
      </div>
    }

  </div>
</div>
